<li>
    <a href="{{path('admin.article.index')}}">Article {{is_subpath('admin.article.index') ? 'actif'}}</a>
</li>
<li>
    <a href="{{path('admin.categorie.index')}}">Categorie {{is_subpath('admin.categorie.index') ? 'actif'}}</a>
</li>
